.osd {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 32px 48px;
  font-size: 32px;
  color: darkred;
  text-shadow: 1px 1px red;
  z-index: 1000000;
}

.osd .level {
  width: 64px;
  margin: 0 24px;
}

.world {
  position: relative;
}

.flame {
  position: absolute;
  animation: .2s infinite flicker;
  z-index: 2147483647;
}

@keyframes flicker {
  50% { transform: scaleY(1.05); }
}
